html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  vertical-align: baseline;
  color: #58585A;
  font-family: "NotoSansKR-Medium";
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

img {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: NotoSansKR-Black;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Black.otf");
}
@font-face {
  font-family: NotoSansKR-Medium;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: NotoSansKR-Medium;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: NotoSansKR-Bold;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: NotoSans-Bold;
  src: url("/font/Noto_Sans/NotoSans-Bold.ttf");
}
@media (min-width: 1024px) {
  #header {
    position: fixed;
    width: 100%;
    z-index: 101;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0.01%, rgba(55, 55, 55, 0.5) 100%);
    transition: 0.5s;
  }
  #header .head {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: 1s;
  }
  #header .head .logo {
    display: block;
    padding: 30px 0;
  }
  #header .head .logo > a {
    display: block;
  }
  #header .head .logo > a::after {
    display: block;
    content: url("../img/logo.png");
  }
  #header .head .logo > a > img {
    display: none;
  }
  #header .head .header-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  #header .head .header-nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 950px;
  }
  #header .head .header-nav > ul > li {
    width: 20%;
    padding: 20px;
    transition: 0.5s;
    background-color: rgba(144, 188, 67, 0);
  }
  #header .head .header-nav > ul > li:hover {
    background-color: rgb(144, 188, 67);
  }
  #header .head .header-nav > ul > li:hover a {
    color: white !important;
  }
  #header .head .header-nav > ul > li > a {
    text-align: center;
    display: block;
    padding-top: 30px;
    color: rgb(255, 255, 255);
  }
  #header .head .header-nav > ul > li > .sub-head {
    display: none;
    padding: 20px 0;
  }
  #header .head .header-nav > ul > li > .sub-head > li > a {
    font-size: 14px;
    display: block;
    line-height: 2;
    text-align: center;
  }
  #header .head .header-nav > ul > li > .sub-head > li > a:hover {
    text-decoration: underline;
  }
  #header .head .header-nav > .lang-box {
    padding: 50px 0 0 50px;
  }
  #header .head .header-nav > .lang-box .lang {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  #header .head .header-nav > .lang-box .lang::before {
    content: "";
    background-image: url("../img/lang.png");
    background-size: 16px;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 10px;
  }
  #header .head .hammenu {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    background-color: #1f5153;
    z-index: 12;
    cursor: pointer;
  }
  #header .head .hammenu .ham {
    width: 20px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #header .head .hammenu .ham span {
    transition: all 0.2s linear;
    position: absolute;
    width: 20px;
    height: 2px;
    display: block;
    background-color: #fff;
  }
  #header .head .hammenu .ham span:nth-of-type(1) {
    top: 0%;
  }
  #header .head .hammenu .ham span:nth-of-type(2) {
    top: 50%;
  }
  #header .head .hammenu .ham span:nth-of-type(3) {
    top: 100%;
  }
  #header .head .ham-drop-box {
    display: none;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  #header .head .ham-drop-box .logo {
    background-color: white;
    text-align: center;
    padding: 20px 0;
  }
  #header .head .ham-drop-box .logo a img {
    display: inline-block;
  }
  #header .head .ham-drop-box .ham-drop {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #90BC43;
    padding: 38px 0;
  }
  #header .head .ham-drop-box .ham-drop li {
    width: 10%;
  }
  #header .head .ham-drop-box .ham-drop li a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 28px;
    color: white;
  }
  #header .head .ham-drop-box .ham-drop li ul li {
    width: 100%;
    margin-bottom: 28px;
  }
  #header .head .ham-drop-box .ham-drop li ul li a {
    font-size: 16px;
    font-weight: normal;
    color: white;
  }
  #header:hover {
    background: none;
    background-color: white;
  }
  #header:hover a {
    color: #58585A !important;
  }
  #header:hover .logo > a {
    display: block;
  }
  #header:hover .logo > a::after {
    display: block;
    content: url("../img/logo-color.png");
  }
  #header:hover .lang::before {
    content: "";
    background-image: url("../img/lang-black.png");
    background-color: #447531;
  }
  #header.active {
    transform: translateY(-100%);
  }
  .quick-box {
    position: fixed;
    top: 30%;
    right: 40px;
    transform: translateY(-30%);
    z-index: 99;
  }
  .quick-box .quick-nav > ul > li {
    margin-bottom: 30%;
  }
  .quick-box .quick-nav > ul > li > a {
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 5px 10px -5px #777;
    border: 1px solid #90BC43;
  }
  .quick-box .quick-nav > ul > li > a .quick-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .quick-box .quick-nav > ul > li > a .quick-con > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }
  .quick-box .quick-nav > ul > li > a .title {
    opacity: 0;
    width: 70px;
    height: 70px;
    background-color: #90BC43;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .quick-box .quick-nav > ul > li > a .title > span {
    color: white;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .quick-box .quick-nav > ul > li > a:hover .quick-con {
    opacity: 0;
  }
  .quick-box .quick-nav > ul > li > a:hover > .title {
    opacity: 1;
  }
  #footer {
    height: 220px;
    background-color: #447531;
  }
  #footer .footer-con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  #footer .footer-con > .left {
    margin-right: 100px;
  }
  #footer .footer-con > .right {
    line-height: 2;
  }
  #footer .footer-con > .right .footer-nav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  #footer .footer-con > .right .footer-nav > ul > li {
    margin-right: 15px;
    color: white;
    padding-left: 10px;
    position: relative;
    font-size: 14px;
  }
  #footer .footer-con > .right .footer-nav > ul > li:nth-of-type(1) {
    padding: 0px;
  }
  #footer .footer-con > .right .footer-nav > ul > li::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background: #d1d1d1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  #footer .footer-con > .right .footer-nav > ul > li:nth-of-type(1)::before {
    display: none;
    padding: 0px;
  }
  #footer .footer-con > .right .footer-nav .footer-info > p {
    color: white;
    font-size: 14px;
  }
  #footer .footer-con > .right .sns > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }
  #footer .footer-con > .right .sns > ul > li {
    margin-right: 30px;
  }
}
body {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 60% contain;
  background-position: bottom;
  width: 100%;
  height: 100%;
}

.main .mainSwiper {
  width: 100%;
  height: 700px;
}
.main .mainSwiper > .swiper-wrapper {
  position: relative;
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide {
  position: relative;
  height: 100%;
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide::after {
  position: absolute;
  content: "";
  background-image: url("../img/bottom.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0%;
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide .plant-month {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  overflow: hidden;
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide .plant-month .text-box {
  position: relative;
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide .plant-month .text-box::before {
  content: url("../img/quote-start.png");
  position: absolute;
  top: -20%;
  left: -20%;
  transform: translate(20%, 20%);
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide .plant-month .text-box::after {
  content: url("../img/quote-end.png");
  position: absolute;
  bottom: -20%;
  right: -15%;
  transform: translate(15%, 20%);
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide .plant-month .text-box > span {
  color: white;
  display: block;
  text-align: end;
  transform: translateY(330%);
  animation: text-up forwards 1s;
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide .plant-month .text-box > .title {
  font-size: 46px;
  font-weight: bold;
  animation-delay: 0.5s;
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide .plant-month .text-box > .name {
  margin: 20px 20px 15px 0;
  font-size: 56px;
  font-weight: bold;
  animation-delay: 1s;
}
.main .mainSwiper > .swiper-wrapper > .swiper-slide .plant-month .text-box .area {
  margin-right: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.63);
  animation-delay: 1.5s;
}
@keyframes text-up {
  100% {
    transform: translateY(0%);
  }
}
.main .mainSwiper .bottom-con {
  width: 500px;
  position: absolute;
  bottom: 20%;
  left: 15%;
  transform: translate(-15%, -20%);
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 10;
}
.main .mainSwiper .bottom-con .weather-box {
  text-align: center;
  font-size: 18px;
}
.main .mainSwiper .bottom-con .weather-box .weather-con {
  display: flex;
  align-items: center;
}
.main .mainSwiper .bottom-con .weather-box .weather-con > .left > img {
  display: block;
  object-fit: cover;
  margin-right: 10px;
  animation: up-down 1.5s infinite ease-in-out alternate;
}
.main .mainSwiper .bottom-con .weather-box .weather-con > .right {
  text-align: center;
  line-height: 1.5;
}
.main .mainSwiper .bottom-con .weather-box .weather-con > .right .today {
  text-align: left;
  font-size: 16px;
  color: white;
}
.main .mainSwiper .bottom-con .weather-box .weather-con > .right .weather-text {
  font-size: 16px;
}
.main .mainSwiper .bottom-con .weather-box .weather-con > .right .weather-text > span {
  color: white;
}
.main .mainSwiper .bottom-con .guide-box > a {
  display: inline-block;
  color: white;
  margin-right: 40px;
  line-height: 1.5;
  position: relative;
  padding-left: 10px;
}
.main .mainSwiper .bottom-con .guide-box > a::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  background: #d1d1d1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.main .use-info {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 20px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .use-info .title {
  font-size: 24px !important;
  color: #4E813B;
  font-weight: bold;
}
.main .use-info .location {
  font-size: 14px;
  margin: 20px 0px;
}
.main .use-info .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .use-info .price > .left {
  margin-right: 70px;
  position: relative;
  padding-right: 40px;
  text-align: end;
}
.main .use-info .price > .left::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100px;
  background: #55A37C;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.main .use-info .price > .left > a {
  font-size: 14px;
}
.main .use-info .price > .left > a::after {
  content: ">";
  padding-left: 10px;
}
.main .use-info .price > .right .user-division > span {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 0px;
}
.main .use-info .price > .right .issue {
  font-size: 12px;
}
.main .use-info .price > .right > p {
  padding: 10px 0px;
}
.main .use-info .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .use-info .time > .left {
  margin-right: 70px;
  position: relative;
  padding-right: 40px;
  text-align: end;
}
.main .use-info .time > .left::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100px;
  background: #55A37C;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.main .use-info .time > .left > p {
  font-size: 14px;
}
.main .use-info .time > .right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.main .use-info .time > .right .peacetime {
  margin-right: 70px;
}
.main .use-info .time > .right .peacetime > p {
  padding: 10px 0px;
}
.main .use-info .time > .right .peacetime > p:nth-last-of-type(1) {
  color: #90BE45;
}
.main .use-info .time > .right .winter-season > p {
  padding: 10px 0px;
}
.main .use-info .time > .right .winter-season > p:nth-last-of-type(1) {
  color: #90BE45;
}
.main .news {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 20px;
  margin-bottom: 200px;
}
.main .news > h3 {
  margin-bottom: 90px;
  font-size: 32px;
  position: relative;
  line-height: 1.5;
}
.main .news > h3::after {
  content: "";
  background-image: url("../img/h3-bg.png");
  background-size: 100% 100%;
  background-position: center;
  width: 210px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
  transform: rotate(5deg);
}
.main .news > h3 > span {
  font-size: 32px;
  color: #4E813B;
}
.main .news .news-con {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.main .news .news-con .exhibition-news > p {
  font-size: 24px;
  font-weight: bold;
  color: #4E813B;
  margin-bottom: 15px;
}
.main .news .news-con .exhibition-news .exhibition-con > a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
}
.main .news .news-con .exhibition-news .exhibition-con > a > img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: relative;
  transition: 1.5s;
  border-radius: 25px;
}
.main .news .news-con .exhibition-news .exhibition-con > a > .screen {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  border-radius: 25px;
}
.main .news .news-con .exhibition-news .exhibition-con > a > .screen > span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 24px;
  transform: translate(-50%, -50%);
}
.main .news .news-con .exhibition-news .exhibition-con > a:hover > .screen {
  opacity: 1;
  border-radius: 25px;
}
.main .news .news-con .exhibition-news .exhibition-con > a:hover img {
  transform: scale(1.3);
}
.main .news .news-con .garden-news > p {
  font-size: 24px;
  font-weight: bold;
  color: #4E813B;
  margin-bottom: 15px;
}
.main .news .news-con .garden-news .garden-slide {
  width: 400px;
  height: 100%;
  border-radius: 25px;
}
.main .news .news-con .garden-news .garden-slide > .swiper-wrapper > .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .news .news-con .garden-news .garden-slide > .swiper-wrapper > .swiper-slide .garden-con > a {
  display: block;
  border-radius: 25px;
}
.main .news .news-con .garden-news .garden-slide > .swiper-wrapper > .swiper-slide .garden-con > a > img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 25px;
}
.main .news .notice-box > div {
  position: relative;
}
.main .news .notice-box > div > ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 15px;
}
.main .news .notice-box > div > ul > li > a {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(78, 129, 59, 0.5);
  margin-right: 30px;
}
.main .news .notice-box > div > ul > li.on a {
  color: #4E813B;
}
.main .news .notice-box > div > a {
  font-size: 24px;
  color: #4E813B;
  position: absolute;
  top: 0;
  right: 0;
}
.main .news .notice-box .notice-con-box {
  width: 400px;
  height: 400px;
}
.main .news .notice-box .notice-con-box > ul {
  padding-top: 30px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.main .news .notice-box .notice-con-box > ul > li {
  width: 400px;
  display: none;
}
.main .news .notice-box .notice-con-box > ul > li .notice-con::after {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #d1d1d1;
}
.main .news .notice-box .notice-con-box > ul > li .notice-con:nth-last-of-type(1)::after {
  display: none;
}
.main .news .notice-box .notice-con-box > ul > li .notice-con > a {
  display: block;
}
.main .news .notice-box .notice-con-box > ul > li .notice-con > a > .title {
  font-size: 16px;
  color: #58585A;
}
.main .news .notice-box .notice-con-box > ul > li .notice-con > a > .con {
  font-size: 12px;
  color: #818385;
}
.main .news .notice-box .notice-con-box > ul > li .notice-con > a > .time {
  font-size: 12px;
  color: #818385;
  margin: 20px 0px;
}
.main .news .notice-box .notice-con-box > ul > li .notice-con > a > span {
  display: block;
  line-height: 2;
}
.main .news .notice-box .notice-con-box > ul > li.on {
  display: block;
}
.main .course-box {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 20px;
  margin-bottom: 100px;
}
.main .course-box > h3 {
  margin-bottom: 90px;
  font-size: 32px;
  position: relative;
  line-height: 1.5;
}
.main .course-box > h3::after {
  content: "";
  background-image: url("../img/h3-bg.png");
  background-size: 100% 100%;
  background-position: center;
  width: 210px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
  transform: rotate(5deg);
}
.main .course-box > h3 > span {
  font-size: 32px;
  color: #4E813B;
}
.main .course-box .course-nav > .course-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.main .course-box .course-nav > .course-tab > li {
  position: relative;
}
.main .course-box .course-nav > .course-tab > li > a {
  color: #CCCCCC;
  cursor: pointer;
}
.main .course-box .course-nav > .course-tab > li.on {
  padding-bottom: 10px;
}
.main .course-box .course-nav > .course-tab > li.on > a {
  color: #4E813B;
  font-weight: bold;
}
.main .course-box .course-nav > .course-tab > li.on::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #4E813B;
  bottom: 0;
  left: 0;
}
.main .course-box > .course-con-tab > li {
  display: none;
}
.main .course-box > .course-con-tab > li .course-con {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main .course-box > .course-con-tab > li .course-con .course-map > img {
  width: 850px;
  height: 540px;
}
.main .course-box > .course-con-tab > li .course-con .look-around > p {
  margin-bottom: 10px;
}
.main .course-box > .course-con-tab > li .course-con .look-around .look-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.main .course-box > .course-con-tab > li .course-con .look-around .look-box .look-con {
  margin-right: 30px;
  position: relative;
}
.main .course-box > .course-con-tab > li .course-con .look-around .look-box .look-con > img {
  border-radius: 20px;
}
.main .course-box > .course-con-tab > li .course-con .look-around .look-box .look-con::after {
  content: "";
  background: linear-gradient(0deg, #000 0%, rgba(38, 38, 38, 0) 100%);
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0px 0px 20px 20px;
}
.main .course-box > .course-con-tab > li .course-con .look-around .look-box .look-con > div {
  width: 80px;
  height: 20px;
  border-radius: 50px;
  background-color: #C2D42E;
  position: absolute;
  left: 50%;
  bottom: -5%;
  transform: translate(-50%, 5%);
  text-align: center;
  z-index: 5;
}
.main .course-box > .course-con-tab > li .course-con .look-around .look-box .look-con > div > span {
  font-size: 12px;
}
.main .course-box > .course-con-tab > li .course-info {
  text-align: center;
  margin-top: 50px;
  line-height: 1.5;
}
.main .course-box > .course-con-tab > li.on {
  display: block;
}
.main .experience-box {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 20px;
  margin-bottom: 100px;
}
.main .experience-box > h3 {
  margin-bottom: 90px;
  font-size: 32px;
  position: relative;
  line-height: 1.5;
}
.main .experience-box > h3::after {
  content: "";
  background-image: url("../img/h3-bg.png");
  background-size: 100% 100%;
  background-position: center;
  width: 210px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
  transform: rotate(5deg);
}
.main .experience-box > h3 > span {
  font-size: 32px;
  color: #4E813B;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide {
  width: 400px;
  height: 450px;
  border-radius: 50px;
  position: relative;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a {
  display: block;
  width: 100%;
  height: 100%;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a::after {
  content: "";
  background: linear-gradient(0deg, #000 0%, rgba(38, 38, 38, 0) 100%);
  width: 100%;
  height: 230px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0px 0px 50px 50px;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a .experience-info {
  width: 350px;
  text-align: left;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -5%);
  z-index: 1;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a .experience-info > .title {
  font-size: 14px;
  color: white;
  line-height: 1.5;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a .experience-info > .time {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a .experience-info > .time > span {
  font-size: 12px;
  color: white;
  line-height: 1.5;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a .experience-info > .time > span {
  font-size: 12px;
  color: white;
  line-height: 1.5;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a .experience-info .situation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a .experience-info .situation > div {
  width: 100px;
  height: 25px;
  border-radius: 50px;
  background-color: #C2D42E;
  text-align: center;
  z-index: 5;
}
.main .experience-box .experience-list .experSwiper > .swiper-wrapper > .swiper-slide > a .experience-info .situation > div > span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}/*# sourceMappingURL=index.css.map */