html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  vertical-align: baseline;
  color: #58585A;
  font-family: "NotoSansKR-Medium";
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

img {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: NotoSansKR-Black;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Black.otf");
}
@font-face {
  font-family: NotoSansKR-Medium;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: NotoSansKR-Medium;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: NotoSansKR-Bold;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: NotoSans-Bold;
  src: url("/font/Noto_Sans/NotoSans-Bold.ttf");
}
@media (min-width: 1024px) {
  #header {
    position: fixed;
    width: 100%;
    z-index: 101;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0.01%, rgba(55, 55, 55, 0.5) 100%);
    transition: 0.5s;
  }
  #header:hover {
    background: none;
    background-color: white;
  }
  #header:hover a {
    color: #58585A !important;
  }
  #header:hover .logo {
    background-color: #447531;
  }
  #header:hover .lang::before {
    content: "";
    background-image: url("../img/lang-black.png");
  }
  #header .head {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: 1s;
  }
  #header .head .logo {
    display: block;
    padding: 30px 0;
  }
  #header .head .logo > a {
    display: block;
  }
  #header .head .header-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  #header .head .header-nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 950px;
  }
  #header .head .header-nav > ul > li {
    width: 20%;
    padding: 20px;
    transition: 0.5s;
    background-color: rgba(144, 188, 67, 0);
  }
  #header .head .header-nav > ul > li:hover {
    background-color: rgb(144, 188, 67);
  }
  #header .head .header-nav > ul > li:hover a {
    color: white !important;
  }
  #header .head .header-nav > ul > li > a {
    text-align: center;
    display: block;
    padding-top: 30px;
    color: rgb(255, 255, 255);
  }
  #header .head .header-nav > ul > li > .sub-head {
    display: none;
    padding: 20px 0;
  }
  #header .head .header-nav > ul > li > .sub-head > li > a {
    font-size: 14px;
    display: block;
    line-height: 2;
    text-align: center;
  }
  #header .head .header-nav > ul > li > .sub-head > li > a:hover {
    text-decoration: underline;
  }
  #header .head .header-nav > .lang-box {
    padding: 50px 0 0 50px;
  }
  #header .head .header-nav > .lang-box .lang {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  #header .head .header-nav > .lang-box .lang::before {
    content: "";
    background-image: url("../img/lang.png");
    background-size: 16px;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 10px;
  }
  #header .head .hammenu {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    background-color: #1f5153;
    z-index: 12;
    cursor: pointer;
  }
  #header .head .hammenu .ham {
    width: 20px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #header .head .hammenu .ham span {
    transition: all 0.2s linear;
    position: absolute;
    width: 20px;
    height: 2px;
    display: block;
    background-color: #fff;
  }
  #header .head .hammenu .ham span:nth-of-type(1) {
    top: 0%;
  }
  #header .head .hammenu .ham span:nth-of-type(2) {
    top: 50%;
  }
  #header .head .hammenu .ham span:nth-of-type(3) {
    top: 100%;
  }
  #header .head .ham-drop-box {
    display: none;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  #header .head .ham-drop-box .logo {
    background-color: white;
    text-align: center;
    padding: 20px 0;
  }
  #header .head .ham-drop-box .logo a img {
    display: inline-block;
  }
  #header .head .ham-drop-box .ham-drop {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #90BC43;
    padding: 38px 0;
  }
  #header .head .ham-drop-box .ham-drop li {
    width: 10%;
  }
  #header .head .ham-drop-box .ham-drop li a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 28px;
    color: white;
  }
  #header .head .ham-drop-box .ham-drop li ul li {
    width: 100%;
    margin-bottom: 28px;
  }
  #header .head .ham-drop-box .ham-drop li ul li a {
    font-size: 16px;
    font-weight: normal;
    color: white;
  }
  #header.active {
    transform: translateY(-100%);
  }
  .quick-box {
    position: fixed;
    top: 30%;
    right: 40px;
    transform: translateY(-30%);
    z-index: 30;
  }
  .quick-box .quick-nav > ul > li {
    margin-bottom: 30%;
  }
  .quick-box .quick-nav > ul > li > a {
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 5px 10px -5px #777;
    border: 1px solid #90BC43;
  }
  .quick-box .quick-nav > ul > li > a .quick-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .quick-box .quick-nav > ul > li > a .quick-con > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }
  .quick-box .quick-nav > ul > li > a .title {
    opacity: 0;
    width: 70px;
    height: 70px;
    background-color: #90BC43;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .quick-box .quick-nav > ul > li > a .title > span {
    color: white;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .quick-box .quick-nav > ul > li > a:hover .quick-con {
    opacity: 0;
  }
  .quick-box .quick-nav > ul > li > a:hover > .title {
    opacity: 1;
  }
  #footer {
    height: 220px;
    background-color: #447531;
  }
  #footer .footer-con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  #footer .footer-con > .left {
    margin-right: 100px;
  }
  #footer .footer-con > .right {
    line-height: 2;
  }
  #footer .footer-con > .right .footer-nav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  #footer .footer-con > .right .footer-nav > ul > li {
    margin-right: 15px;
    color: white;
    padding-left: 10px;
    position: relative;
    font-size: 14px;
  }
  #footer .footer-con > .right .footer-nav > ul > li:nth-of-type(1) {
    padding: 0px;
  }
  #footer .footer-con > .right .footer-nav > ul > li::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background: #d1d1d1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  #footer .footer-con > .right .footer-nav > ul > li:nth-of-type(1)::before {
    display: none;
    padding: 0px;
  }
  #footer .footer-con > .right .footer-nav .footer-info > p {
    color: white;
    font-size: 14px;
  }
  #footer .footer-con > .right .sns > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }
  #footer .footer-con > .right .sns > ul > li {
    margin-right: 30px;
  }
}
main .bg {
  position: relative;
  background-image: url("../img/bg111.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
}
main .bg > h2 {
  color: white;
  position: absolute;
  font-size: 32px;
  font-weight: normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
main .bg::after {
  position: absolute;
  content: "";
  background-image: url("../img/bottom.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0%;
  z-index: 88;
  background-color: rgba(0, 0, 0, 0.3);
}
main .indicator {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 100px;
}
main .indicator > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .indicator > ul > li {
  font-size: 14px;
  padding-right: 20px;
  margin-right: 10px;
  position: relative;
}
main .indicator > ul > li::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/icon.png");
  background-size: 100% 100%;
  width: 8px;
  height: 12px;
  margin-left: 10px;
}
main .indicator > ul > li:nth-last-of-type(1) {
  color: #90bc43;
}
main .indicator > ul > li:nth-last-of-type(1)::after {
  content: "";
  background: none;
}
main .content {
  margin: 0 auto;
  max-width: 850px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 100px;
}
main .content h4 {
  color: #58585a;
  font-size: 24px;
  margin-bottom: 40px;
}
main .content .seedname {
  text-align: start;
  color: #58585a;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
main .content hr {
  margin-bottom: 70px;
}
main .content figure {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
main .content figure #seed {
  width: 80%;
  margin: 0 auto;
}
main .content .content_box {
  margin-top: 10px;
  margin-bottom: 100px;
}
main .content .content_box .top_detail {
  display: flex;
}
main .content .content_box .top_detail .conbox {
  width: 445px;
  height: 170px;
  padding: 10px;
  position: relative;
}
main .content .content_box .top_detail .conbox .name {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: -150px;
}
main .content .content_box .top_detail .conbox .name p {
  display: inline-block;
  width: 125px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  font-size: 1rem;
  background: rgba(194, 212, 46, 0.5019607843);
  z-index: -3;
  border-radius: 20px 20px 0 0;
}
main .content .content_box .top_detail .conbox .text_content {
  position: absolute;
  left: 0;
  margin-top: 29px;
  width: 420px;
  height: 166px;
  z-index: 3;
  background-color: white;
  border-radius: 20px;
  border: 3px solid rgba(194, 212, 46, 0.5);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
main .content .content_box .top_detail .conbox .text_content .txt {
  padding-left: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .content .content_box .top_detail .conbox .text_content .txt li {
  text-align: start;
}
main .content .content_box .top_detail .conbox .text_content .txt li span {
  padding-right: 35px;
  font-size: 16px;
  font-weight: 700;
}
main .content .content_box .top_detail .conbox .text_content .txt li:nth-of-type(1) {
  margin-top: 45px;
  margin-bottom: 30px;
}
main .content .content_box .top_detail .conbox .text_content .txt li:nth-of-type(2) {
  margin-bottom: 40px;
}
main .content .content_box .top_detail .conbox2 {
  width: 445px;
  height: 170px;
  padding: 10px;
  position: relative;
}
main .content .content_box .top_detail .conbox2 .name {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: -125px;
}
main .content .content_box .top_detail .conbox2 .name p {
  display: inline-block;
  width: 125px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  font-size: 1rem;
  background: rgba(194, 212, 46, 0.5019607843);
  z-index: -3;
  border-radius: 20px 20px 0 0;
}
main .content .content_box .top_detail .conbox2 .text_content2 {
  position: absolute;
  right: 0;
  margin-top: 29px;
  width: 400px;
  height: 166px;
  z-index: 3;
  background-color: white;
  border-radius: 20px;
  border: 3px solid rgba(194, 212, 46, 0.5);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
main .content .content_box .top_detail .conbox2 .text_content2 .txt2 {
  padding-left: 95px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .content .content_box .top_detail .conbox2 .text_content2 .txt2 li {
  padding-bottom: 20px;
  text-align: start;
}
main .content .content_box .top_detail .conbox2 .text_content2 .txt2 li span {
  padding-right: 60px;
  font-size: 16px;
  font-weight: 700;
}
main .content .content_box .top_detail .conbox2 .text_content2 .txt2 li:nth-of-type(1) {
  margin-top: 35px;
}
main .content .content_box .bottom_detail {
  margin-top: 10%;
}
main .content .content_box .bottom_detail .conbox3 {
  width: 875px;
  height: 170px;
  padding: 10px;
  position: relative;
}
main .content .content_box .bottom_detail .conbox3 .name {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 0;
}
main .content .content_box .bottom_detail .conbox3 .name p {
  display: inline-block;
  width: 125px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  font-size: 1rem;
  background: rgba(194, 212, 46, 0.5019607843);
  z-index: -3;
  border-radius: 20px 20px 0 0;
}
main .content .content_box .bottom_detail .conbox3 .text_content3 {
  position: absolute;
  left: 0;
  margin-top: 29px;
  width: 850px;
  height: 166px;
  z-index: 3;
  background-color: white;
  border-radius: 20px;
  border: 3px solid rgba(194, 212, 46, 0.5);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
main .content .content_box .bottom_detail .conbox3 .text_content3 .txt3 {
  margin-top: 35px;
  width: 100%;
  display: flex;
}
main .content .content_box .bottom_detail .conbox3 .text_content3 .txt3 li {
  width: 25%;
}
main .content .content_box .bottom_detail .conbox3 .text_content3 .txt3 li figure {
  width: 100%;
  height: 100%;
}
main .content .content_box .bottom_detail .conbox3 .text_content3 .txt3 li figure img {
  margin: 0 auto;
}
main .content .content_box .bottom_detail .conbox3 .text_content3 .txt3 li figure figcaption {
  margin-top: 10px;
}
main .content .btn_list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main .content .btn_list a {
  border-radius: 10px;
  background: #90be45;
  width: 70px;
  height: 40px;
  line-height: 40px;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}