@import "_reset";
@import "_mixin";

@media (min-width:481px) and (max-width:1023px){

    .main{

        .bg{
            position: relative;
            background-image: url("../img/bg111.png");
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% 100%;
        
            width: 100%;
            height: 400px;
            >h2{
                @include h2();
                z-index: 99;
            }
            &::after{
                @include bg();
            }
        }
        
        
        .indicator{
            @include main-width(){
                margin-bottom: 100px
            };
            >ul{
                @include flex(flex-start,center);
                >li{
                    font-size: 14px;
                    padding-right: 20px;
                    margin-right: 10px;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background-image: url("../img/icon.png");
                        background-size: 100% 100%;
                        width: 8px;
                        height: 12px;
                        margin-left: 10px;
                    }
                    &:nth-last-of-type(1){
                        color: #90BC43;
                        &::after{
                            content: "";
                            background: none;
                        }
                    }
                }
            }
        }
    
        .check-box{
            @include main-width();
            margin-bottom: 100px;
            .check-con{
                >.title{
                    @include flex(center,center);
                    margin-bottom: 50px;
                    >img{
    
                    }
                    >p{
    
                    }
                }
            }
    
            .input-box{
                margin-bottom: 30px;
                >form{
                    border-radius: 10px;
                    border: 1px solid #90BC43;
                    max-width: 500px;
                    margin: 0 auto;
                    overflow: hidden;
                    >.input-con{
                        @include flex(center,center);
                        height: 50px;
                        >p{
                            text-align: center;
                            line-height: 50px;
                            color: white;
                            width: 30%;
                            height: 100%;
                            background-color: #90BC43;
                        }
                        >input{
                            width: 70%;
                            height: 100%;
                            border: none;
                            outline: none;
                            padding-left: 20px;
                        }
                        &:nth-of-type(1){
                            border-bottom: 1px solid white;
                            >input{
                                border-bottom: 1px solid #90BC43;
                            }
                        }
                    }
                } 
            }
        }
        .reserve-btn-box{
            margin-top: 100px;
            text-align: center;
            >a{
                margin: 0 auto;
                display: block;
                cursor: pointer;
                width: 110px;
                height: 40px;
                line-height: 40px;
                border-radius: 20px;
                background-color: #90BC43;
                border: none;
                color: white;
                font-size: 20px;
                font-weight: bold;
            }
        }   
    }

}