@import "_reset";
@import "_mixin";
@import "_inc";

@media(min-width:1280px){
    .bg{
        position: relative;
        background-image: url("../img/bg111.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 100%;
    
        width: 100%;
        height: 400px;
        >h2{
            @include h2();
            z-index: 99;
        }
        &::after{
            position: absolute;
            content: '';
            background-image: url("../img/bottom.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: bottom;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0%;
            z-index: 88;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    
    
    
    //////////////////
    .indicator{
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 100px;
        >ul{
            @include flex(flex-start,center);
            >li{
                font-size: 14px;
                padding-right: 20px;
                margin-right: 10px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url("../img/icon.png");
                    background-size: 100% 100%;
                    width: 8px;
                    height: 12px;
                    margin-left: 10px;
                }
                &:nth-last-of-type(1){
                    color: #90BC43;
                    &::after{
                        content: "";
                        background: none;
                    }
                }
            }
        }
    }
    ///////////////////
    .sub-f{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 95px;
        p{
            font-size: 20px;
        }
    }
    //부제목
    
    .nnn{
        max-width: 1325px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
       li{
        margin: 0 20.5px;
        width: 20%;
        .ssspace{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 31px;
            span{
                margin:13px 0;
                background-color: #C2D42E;
                width: 70px; height: 25px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                color: #58585A;
                line-height: 1.5;
                font-weight: bold;
            }
            p:nth-of-type(2){
                font-weight: normal;
            }
            p:last-of-type{
                line-height: 2.5;
                opacity: 50%;
                font-size: 14px;
            }
        }
        .ssspace.on{
            span{
                background-color: #F0A12A;
                color: white;
            }
        }
        .sspace{
            width: 100%;
            aspect-ratio: 1;
            position: relative;
            border-radius: 20px;
            img{
                border-radius: 20px;
                width:100%; height: 100%;
            }
        }
       }
       
    }
    
    //갤러리
    .next{
        margin: 120px 0;
        display: flex;
        justify-content: center;
        button{
          cursor: pointer;
          background-color: transparent;
          color: #58585A;
          font-size: 16px;
          font-weight: bold;
          width: 30px; height: 30px;
          border: none;
          margin: 0 5px;
        }
        button:first-of-type, :last-of-type{
          width: 45px;
        }
        button.on{
            border-radius: 10px;
            background-color: #90BC43;
            color: white;
        }
      }
}
@media(min-width:481px) and (max-width:1279px){
    .bg{
        position: relative;
        background-image: url("../img/bg111.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 100%;
    
        width: 100%;
        height: 400px;
        >h2{
            @include h2();
            z-index: 99;
        }
        &::after{
            position: absolute;
            content: '';
            background-image: url("../img/bottom.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: bottom;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0%;
            z-index: 88;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    
    
    
    //////////////////
    .indicator{
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 100px;
        >ul{
            @include flex(flex-start,center);
            >li{
                font-size: 14px;
                padding-right: 20px;
                margin-right: 10px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url("../img/icon.png");
                    background-size: 100% 100%;
                    width: 8px;
                    height: 12px;
                    margin-left: 10px;
                }
                &:nth-last-of-type(1){
                    color: #90BC43;
                    &::after{
                        content: "";
                        background: none;
                    }
                }
            }
        }
    }
    ///////////////////
    .sub-f{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 95px;
        p{
            font-size: 20px;
        }
    }
    //부제목
    
    .nnn{
        max-width: 1325px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
       li{
        margin: 0 20.5px;
        width: 40%;
        .ssspace{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 31px;
            span{
                margin:13px 0;
                background-color: #C2D42E;
                width: 70px; height: 25px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                color: #58585A;
                line-height: 1.5;
                font-weight: bold;
            }
            p:nth-of-type(2){
                font-weight: normal;
            }
            p:last-of-type{
                line-height: 2.5;
                opacity: 50%;
                font-size: 14px;
            }
        }
        .ssspace.on{
            span{
                background-color: #F0A12A;
                color: white;
            }
        }
        .sspace{
            width: 100%;
            aspect-ratio: 1;
            position: relative;
            border-radius: 20px;
            img{
                border-radius: 20px;
                width:100%; height: 100%;
            }
        }
       }
       
    }
    
    //갤러리
    .next{
        margin: 120px 0;
        display: flex;
        justify-content: center;
        button{
          cursor: pointer;
          background-color: transparent;
          color: #58585A;
          font-size: 16px;
          font-weight: bold;
          width: 30px; height: 30px;
          border: none;
          margin: 0 5px;
        }
        button:first-of-type, :last-of-type{
          width: 45px;
        }
        button.on{
            border-radius: 10px;
            background-color: #90BC43;
            color: white;
        }
      }
}
@media(max-width:480px){
    .bg{
        position: relative;
        background-image: url("../img/bg111.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 100%;
    
        width: 100%;
        height: 400px;
        >h2{
            @include h2();
            z-index: 99;
        }
        &::after{
            position: absolute;
            content: '';
            background-image: url("../img/bottom.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: bottom;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0%;
            z-index: 88;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    
    
    
    //////////////////
    .indicator{
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 100px;
        >ul{
            @include flex(flex-start,center);
            >li{
                font-size: 14px;
                padding-right: 20px;
                margin-right: 10px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url("../img/icon.png");
                    background-size: 100% 100%;
                    width: 8px;
                    height: 12px;
                    margin-left: 10px;
                }
                &:nth-last-of-type(1){
                    color: #90BC43;
                    &::after{
                        content: "";
                        background: none;
                    }
                }
            }
        }
    }
    ///////////////////
    .sub-f{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 95px;
        p{
            font-size: 20px;
        }
    }
    //부제목
    
    .nnn{
        max-width: 1325px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
       li{
        margin: 0 20.5px;
        width: 80%;
        .ssspace{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 31px;
            span{
                margin:13px 0;
                background-color: #C2D42E;
                width: 70px; height: 25px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                color: #58585A;
                line-height: 1.5;
                font-weight: bold;
            }
            p:nth-of-type(2){
                font-weight: normal;
            }
            p:last-of-type{
                line-height: 2.5;
                opacity: 50%;
                font-size: 14px;
            }
        }
        .ssspace.on{
            span{
                background-color: #F0A12A;
                color: white;
            }
        }
        .sspace{
            width: 100%;
            aspect-ratio: 1;
            position: relative;
            border-radius: 20px;
            img{
                border-radius: 20px;
                width:100%; height: 100%;
            }
        }
       }
       
    }
    
    //갤러리
    .next{
        margin: 120px 0;
        display: flex;
        justify-content: center;
        button{
          cursor: pointer;
          background-color: transparent;
          color: #58585A;
          font-size: 16px;
          font-weight: bold;
          width: 30px; height: 30px;
          border: none;
          margin: 0 5px;
        }
        button:first-of-type, :last-of-type{
          width: 45px;
        }
        button.on{
            border-radius: 10px;
            background-color: #90BC43;
            color: white;
        }
      }
}

