@import "_reset";
@import "_mixin";
@import "_inc";

.bg{
    position: relative;
    background-image: url("../img/bg111.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;

    width: 100%;
    height: 400px;
    >h2{
        @include h2();
        z-index: 99;
    }
    &::after{
        position: absolute;
        content: '';
        background-image: url("../img/bottom.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0%;
        z-index: 88;
        background-color: rgba(0, 0, 0, 0.3);
    }
}



//////////////////
.indicator{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 100px;
    >ul{
        @include flex(flex-start,center);
        >li{
            font-size: 14px;
            padding-right: 20px;
            margin-right: 10px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-image: url("../img/icon.png");
                background-size: 100% 100%;
                width: 8px;
                height: 12px;
                margin-left: 10px;
            }
            &:nth-last-of-type(1){
                color: #90BC43;
                &::after{
                    content: "";
                    background: none;
                }
            }
        }
    }
}
///////////////////

.sub-f{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 22px;
        font-weight: bold;
    }
}
//부제목
.box{
    margin: 0 auto;
    margin-top: 65px;
    text-align: center;
    max-width: 1280px;
    border: 3px solid #90BC43;
    border-radius: 20px;
    .inner{
        margin: 36px auto;
        line-height: 25px;
        button{
            cursor: pointer;
            width: 180px;
            height: 54px;
            border-radius: 10px;
            border: none;
            background-color: #90BC43;
            p{
                color: white;
            }
            
        }
    }
}
//설명 박스
.inout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 76px auto;
    input{
        margin-left: 20px;
        border-radius: 10px;
    }
    input:nth-of-type(1){
        width: 310px;
        height: 39px;
        text-align: center;
    }
    input:nth-of-type(2){
        background-color: #90BC43;
        color: white;
        width: 70px;
        height: 40px;
        border: none;
        cursor: pointer;
    }
}
//검색
.nnn{
    max-width: 1325px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    .sspace{
        width: 290px; height: 250px;
        margin: 15.5px 20.5px;
        position: relative;
        >a{
        img{
            object-fit: cover;
            border-radius: 20px;
            width: 100%; height: 100%;
        }
        .ab{
            z-index: 2;
            position: absolute; bottom:20px; left: 16px;
            p{
                color: white;

            }
        }
        &::after{
            content:'';
            position:absolute;
            bottom: 0; left: 0;
            width: 100%; height: 50%;
            border-radius: 20px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.8) 100%);
        }
    }
    }
}
.next{
    margin: 120px auto;
    display: flex;
    justify-content: center;
    button{
      cursor: pointer;
      background-color: transparent;
      color: #58585A;
      font-size: 16px;
      font-weight: bold;
      width: 30px; height: 30px;
      border: none;
      margin: 0 5px;
    }
    button:first-of-type, :last-of-type{
      width: 45px;
    }
    button.on{
        border-radius: 10px;
        background-color: #90BC43;
        color: white;
    }
  }
//갤러리
